body {
    background-image: url(bg.png);
    background-repeat: repeat 
}

.Karte {
    position: relative;
    top: 200px;
    left: 450px;
}

.Busch {
    position: absolute;
    top: 150px;
    left: 390px
}

.Pinguin {
    position: absolute;
    top: 450px;
    left: 950px
}

.Überschrift {
    width: 500px;
    font-size: 35px;
    position: absolute;
    color: white;
    top:260px;
    left:550px;
    text-align:left;
}

.Text {
    width: 500px;
    font-size: 20px;
    position: absolute;
    color: white;
    top:360px;
    left:550px;
    text-align: left;
}

.Text1 {
    width: 500px;
    font-size: 18px;
    position: absolute;
    color: white;
    top:400px;
    left: 550px;
    text-align:left
}

.Text2 {
    width: 500px;
    font-size: 18px;
    position: absolute;
    color: white;
    top:480px;
    left: 550px;
    text-align:left
}